body {
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p1/887686-madeira-textura-madeira-textura-fundo-foto.jpg);
}


h1 {
    background-color: blanchedalmond;
    margin-left: 100px;
    margin-top: 50px;
    color: black;
}

h3 {
    font-size: small;
    color: black;
}

h2, p{
    font-size: small;
    color: black;
    background-color: blanchedalmond;
}

.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.card {
    width: 250px;
    height: 250px;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(198, 126, 247);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.2);
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-wrapper card-text {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 2px solid #005566;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p{
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover > .card-wrapper::before {
    width: 380px;
    height: 380px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 20px;
}

.card:hover > .card-wrapper card-text {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.card:hover {
    width: 400px;
    height: 400px;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 163, 255);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: unset;
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

#card1 {
    background-image: url(https://static.netshoes.com.br/produtos/tenis-de-caminhada-leve-confortavel/06/E74-0492-006/E74-0492-006_zoom1.jpg?ts=1603739403);
}

#card2 {
    background-image: url(https://static.zattini.com.br/produtos/sapato-conforto-social-sapatofran-masculino/06/HAP-0069-006/HAP-0069-006_zoom1.jpg?ts=1580227646&ims=544x);
}

#card3 {
    background-image: url(https://digaspi.vteximg.com.br/arquivos/ids/158111-513-513/SAPATILHA-MONTADA-PERFUROS-5709100-P-NOBUCK-ROSA-34---------------------------------------------------------------------.jpg?v=637408352901430000);
}

#card4 {
    background-image: url(https://cea.vtexassets.com/arquivos/ids/28283692/Bota-Feminina-Salto-Medio-Oneself-Preta-9983247-Preto_1.jpg?v=637484220764070000);
}

#card5 {
    background-image: url(https://static.netshoes.com.br/produtos/bota-masculina-em-couro-ziper-lateral-macia-conforto/38/NHR-0003-138/NHR-0003-138_zoom1.jpg?ts=1605882746&ims=544x);
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 30px;
    text-align: center;
    background-color: grey;
    color: honeydew;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}